<ion-view title="{{'archivedetail_title' | translate}}">
    <ion-nav-page title="title">
        <ion-content has-header="true" has-footer="true" padding="true">
            <div class="list">

                <a class="item item-icon-left" href="#">
                    <i class="icon ion-email"></i> <b>{{'archivedetail_title' | translate}}:</b> {{signal.title}}

                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-document-text"></i> <b>{{'archivedetail_description' | translate}}:</b> {{signal.description}}
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-location"></i> <b>{{'archivedetail_address' | translate}}:</b> {{signal.address}}

                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-list"></i><b> {{'archivedetail_category' | translate}}:</b> {{signal.category}}

                </a>




                <ion-slide-box active-slide="myActiveSlide" show-pager="true">
                    <ion-slide ng-repeat="picture in signal.pictures ">
                        <img src="{{picture.imagefull}}" />
                    </ion-slide>
                </ion-slide-box>


            </div>
            <!--
           <a class="item item-icon-left" href="#">
    <i class="icon ion-images"></i>
    <ion-slide-box active-slide="myActiveSlide" show-pager="true">
        <ion-slide ng-repeat="picture in signal.pictures ">
            <img src="{{picture.imagefull}}" />
        </ion-slide>
    </ion-slide-box>
</a>
-->
        </ion-content>
    </ion-nav-page>
</ion-view>


<!--
<ion-view title="{{'archivedetail_title' | translate}}">
    <ion-nav-page title="title">
        <ion-content has-header="true" has-footer="true" padding="true">
            <h1>{{'archivedetail_headtitle' | translate}}</h1>
            <dl>
                <dt>{{'archivedetail_title' | translate}}:</dt>
                <dd>{{signal.title}}</dd>
            </dl>
            <dl>
                <dt>{{'archivedetail_description' | translate}}:</dt>
                <dd>{{signal.description}}</dd>
            </dl>
            <dl>
                <dt>{{'archivedetail_address' | translate}}:</dt>
                <dd>{{signal.address}}</dd>
            </dl>
            <dl>
                <dt>{{'archivedetail_category' | translate}}:</dt>
                <dd>{{signal.category}}</dd>
            </dl>
            <dl>
                
                <ion-item ng-repeat="picture in signal.pictures ">
                    <img src="{{picture.imagefull}}" />
                </ion-item>
                
                <ion-slide-box active-slide="myActiveSlide" show-pager="true">
                    <ion-slide ng-repeat="picture in signal.pictures ">
                        <img src="{{picture.imagefull}}" />
                    </ion-slide>
                </ion-slide-box>
            </dl>

        </ion-content>
    </ion-nav-page>
</ion-view>-->