<ion-view title="{{'archivedetail_title' | translate}}">
    <ion-content has-header="true" has-footer="true" padding="true">

        <div class="signal-detail-element"><b> {{signal.attribute.title}}</b>
        </div>

        <div class="signal-detail-element">
            {{signal.attribute.description}}
        </div>

        <div class="signal-detail-element">
            <i class="icon ion-ios-location" style="font-size:25px; margin-right:8px"></i> {{signal.location.address}}
        </div>

        <div class="signal-detail-element">
            <i class="icon ion-pricetag" style="font-size:25px; margin-right:8px"></i>{{signal.attribute.category.label}}
        </div>

        <div class="item item-divider">
            <i class="ion-images"></i> {{'archivedetail_images' | translate}}
        </div>
        <a class="item item-list-detail">
            <ion-scroll direction="x">
                <img ng-repeat="picture in signal.media" ng-src="{{picture}}" ng-click="showImages($index)" class="image-list-thumb" />
            </ion-scroll>
        </a>

    </ion-content>
</ion-view>