<ion-view title="{{'archive_title' | translate}}">
    <ion-nav-view name="archivio">

        <ion-tabs class="tabs-positive has-tabs-top tabs-top">

            <ion-tab title="{{'archive_closed' | translate}}">
                <ion-content class="padding">
                    <ion-list>
                        <ion-item ng-repeat="signal in listclosed.data | filter: { status: 'closed' }" href="#/app/archiviodetail/{{signal.id}}" type="item-link">
                            <b>{{signal.attribute.title}}</b>


                            <p><i class="icon ion-ios-location" style="font-size:25px;"></i> {{signal.location.address}}</p>

                        </ion-item>
                    </ion-list>
                    <ion-infinite-scroll ng-if="!noMoreClosedItemsAvailable" on-infinite="loadMore('closed')" distance="1%">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-tab>

            <ion-tab title="{{'archive_running' | translate}}">
                <ion-content class="padding">
                    <ion-list>
                        <ion-item ng-repeat="signal in listprocessing.data | filter: { status: 'processing' }" href="#/app/archiviodetail/{{signal.id}}" type="item-link">
                            <b>{{signal.attribute.title}}</b>


                            <p><i class="icon ion-ios-location" style="font-size:25px;"></i> {{signal.location.address}}</p>

                        </ion-item>
                    </ion-list>
                    <ion-infinite-scroll ng-if="!noMoreProcessingItemsAvailable" on-infinite="loadMore('processing')" distance="1%">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-tab>

            <ion-tab title="{{'archive_waiting' | translate}}">
                <ion-content class="padding">
                    <ion-list>
                        <ion-item ng-repeat="signal in listopen.data | filter: { status: 'open' }" href="#/app/archiviodetail/{{signal.id}}" type="item-link">
                            <b>{{signal.attribute.title}}</b>


                            <p><i class="icon ion-ios-location" style="font-size:25px;"></i> {{signal.location.address}}</p>
                        </ion-item>
                    </ion-list>
                    <ion-infinite-scroll ng-if="!noMoreOpenItemsAvailable" on-infinite="loadMore('open')" distance="1%">
                    </ion-infinite-scroll>
                </ion-content>
            </ion-tab>

        </ion-tabs>
    </ion-nav-view>
</ion-view>