<ion-view view-title="{{'segnala_title' | translate}}">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'segnala_input_title' | translate}}</span>
                <input type="text" placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'segnala_input_description' | translate}}</span>
                <textarea placeholder="Comments"></textarea>
            </label>
            <label class="item item-input item-stacked-label item-button-right">
                <span class="input-label">{{'segnala_input_address' | translate}}</span>
                <input type="text" placeholder="john@suhr.com">
                <button class="button button-positive">
                    <i class="icon ion-android-locate"></i>
                </button>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    {{'segnala_label_categories' | translate}}
                </div>
                <select>
                    <option>prova 1</option>
                    <option selected>prova 2</option>
                    <option>prova 3</option>
                </select>
            </label>
            <button class="button button-positive button-large">
                <i class=" icon ion-android-camera"></i>
            </button>
            <ul class="list">

                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    {{'segnala_label_public' | translate}}
                </li>
            </ul>
            <button class="button button-block button-positive">
                {{'segnala_button_send' | translate}}
            </button>
        </div>
    </ion-content>
</ion-view>